In [24]:
import pandas as pd
import random
from datetime import datetime, timedelta

# Sample data for products
product_names = [
    "Organic Whole Wheat Bread",
    "Red Delicious Apples",
    "Premium Dark Chocolate Bar",
    "Stainless Steel Water Bottle",
    "Recycled Paper Towels",
    "Soft Cotton T-Shirt",
    "Wireless Earbuds",
    "Mountain Bike",
    "Travel Backpack",
    "Fair Trade Coffee Beans",
]

# Sample data for selling points
selling_points = [1, 2, 5, 6, 8, 9, 10, 11]

# Sample DataFrame
data = {
    'value': [round(random.uniform(5, 50), 2) for _ in range(100)],
    'date': [datetime(2022, 1, 1) + timedelta(days=i) for i in range(100)],
    'sellingpoint': [random.choice(selling_points) for _ in range(100)],
    'product': [random.choice(product_names) for _ in range(100)],
}

df = pd.DataFrame(data)

In [25]:
# Changing date format to 'YYYY-MM-DD'
df['date'] = pd.to_datetime(df['date']).dt.strftime('%Y-%m-%d')

In [26]:
df.tail()

    value        date  sellingpoint                       product
95  34.51  2022-04-06             8              Wireless Earbuds
96  31.35  2022-04-07             1    Premium Dark Chocolate Bar
97  16.50  2022-04-08             9       Fair Trade Coffee Beans
98  16.66  2022-04-09            10               Travel Backpack
99  48.65  2022-04-10             9  Stainless Steel Water Bottle

In [27]:

# Save DataFrame to CSV
df.to_csv('price_data.csv', index=False)

In [ ]:
 It must be in YYYY-MM-DD format.']

In [2]:
dt= df.iloc[:2,:]

In [4]:
dt.to_csv('price2rows.csv', index=False)